*~
*.1
*.5
*.8
*.a
*.cgi
*.html
*.la
*.lo
*.o
*.pdf
*.spec
.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
dvt-bin.conf
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
moc_*
missing
davit/davit
utils/dvtdbcheck/dvtdbcheck
utils/dvtstamp/dvtstamp
utils/vnc/davit.xinitrc
utils/vnc/start_davit.sh
