*~
*.1
*.5
*.8
*.a
*.buildinfo
*.cgi
*.changes
*.deb
*.ddeb
*.dsc
*.html
*.la
*.lo
*.o
*.pdf
*.spec
*.tar.gz
*.tar.xz
.deps
.libs
aclocal.m4
autom4te.cache
compile
build_debs.sh
config.guess
config.log
config.status
config.sub
configure
depcomp
docbook
dvt-bin.conf
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
moc_*
missing
davit/davit
debian/changelog
debian/control
utils/dvtdbmgr/dvtdbmgr
utils/dvtstamp/dvtstamp
utils/vnc/davit.xinitrc
utils/vnc/start_davit.sh
